img {
  height: auto;
    height: auto;
  }

  .card-img-top {
    width:400px;
    height:300px;

  }
  .card-img-sub {
    width:800px;
    height:300px;
  }
  .card-img-sub2 {
    width:400px;
    height:600px;
  }
  .container:hover .flap::after {
    transform: translatex(300px);
  }
  
  .container:hover .flap::before{
    transform: translatex(-300px);
    box-shadow: 0 0 20px 8px #d0d0d0;
  
  }
  .container1{
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;

  }

  /* .container1 {
    height: auto;
    height:auto;


  } */
  .card-container {
    width:800px;
    height:250px;

  }
  .card-container1 {
    width:800px;
    height:250px;
background-color: blue;

  }
  .card-container2 {
    width:800px;
    height:300px;
    cursor: pointer;
  }
  .tab-content {
  background-color: rgb(rgb(124, 116, 116), rgb(116, 150, 116), rgb(135, 135, 169));
  }
  p {
    font-size: 20px;
   font-family:  'Kanit', sans-serif;
  }
  h1{
   font-family:  'Kanit', sans-serif;
    font-size: 45px;
  }
  h2{
    font-family:  'Kanit', sans-serif;
  }
  h3{
    font-family:  'Kanit', sans-serif;
  }
  h5{
   font-family:  'Kanit', sans-serif;
  }
 a{
  font-size: 17px;
   font-family:  'Kanit', sans-serif;
 }
 .b{
 font-family:  'Kanit', sans-serif;
}
body{
  background-color:#f2f2f2;
}